<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Olá, mundo!</title>
  </head>
  <body>
	  
	  <header th:include="fragmentos::header"></header>
	  
	  <main class="container">
			<h1>Categoria</h1>
			<form method="post" th:action="@{/categoria/salvar}" th:object="${categoria}">
				<div class="form-group">
					<label for="exampleInputEmail1">Codigo</label>
					<input th:field="*{id}" type="text"  readonly class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
						placeholder="">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Descrição</label>
					<input th:field="*{descricao}" type="text" class="form-control" id="exampleInputPassword1" placeholder="Descrição">
				</div>
				<button type="submit" class="btn btn-primary">Salvar</button>
			</form>
			
			<div th:if="${retorno} !=null" class="row">
				<span th:if="${retorno}" class="alert alert-success" th:text="${mensagem}"></span>
				<span th:if="!${retorno}" class="alert alert-danger" th:text="${mensagem}"></span>
			</div>
	  </main>
	  
	  <footer th:include="fragmentos::footer"></footer>
	  
  </body>	  
    

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>